$color-white: #FFFFFF;
$color-black: #000000;
$color-dark-red: rgba(250, 40, 40, 0.98);
$color-light-red: rgba(255, 82, 82, 0.98);;
$color-light-gray: #E5E5E5;;
$color-gray: #C4C4C4;
$color-dark-gray: #988F8F;
$color-deep-dark-gray: rgba(77, 71, 71, 0.98);;
$color-light-black: #363232;

